project_id   = "your-gcp-project-id"
github_owner = "your-github-owner"
github_repo  = "nyc-tlc-trips"

bigquery_location     = "US"
dev_dataset_id        = "taxi_dbt_dev"
prod_dataset_id       = "taxi_dbt_prod"
ci_service_account_id = "github-dbt-ci"
wif_pool_id           = "github-pool"
wif_provider_id       = "github-provider"
